/* src/App.css
.app {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('./../public/images/family.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    background-color: #f8b400;
  }
   */